@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.33),
      rgba(0, 0, 0, 0.33)
    ),
    url("./images/bg-3.jpg");
  background-size: cover;
  padding:  50px 0;
}

.toDoList {
  min-height: 550px;
  width: 42%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #000000;
  opacity: 0.7;
  border-radius: 1em;
  padding: 1.3em;
}

.item {
  padding: 0.45em;
  margin: 10px 0;
  font-size: 1.1em;
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  align-items: center;
}
.todoHead {
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
  color: white;
}
.inputArea,
button {
  padding: 0.45em;
  font-size: 1em;
  border: 0.3px solid black;
  text-decoration: none;
}
.inputValue {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputArea {
  flex: 4;
  border-radius: 5px;
}
button {
  flex: 1;
  margin-left: 0.5em;
  cursor: pointer;
  background-color: #dda15e;
  font-weight: 500;
  border-radius: 5px;
}

button:hover {
  background-color: #df8927;
}
.strikeOn {
  text-decoration: line-through;
}

.strikeOf {
  text-decoration: none;
}
.percentageRate {
  font-size: 0.75rem;
  padding: 0.25rem 0;
  margin-right: 0.2rem;
  color: white;
}
.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
progress {
  width: 100%;
  padding: 0.55rem;
  color: green;
}
.fade {
  background: linear-gradient(
    45deg,
    rgba(196, 195, 195, 0.53),
    rgba(196, 195, 195, 0.53)
  );
}

/* Responsive to-do-list */
@media screen and (max-width: 1440px) {
  .toDoList {
    width: 40%;
  }
  button {
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .toDoList {
    width: 70%;
  }
  button {
    margin-left: 0.5em;
  }
}
@media screen and (max-width: 425px)  and (min-width: 342px){
  .toDoList {
    width: 80%;
  }
  button {
    margin-left: 0.5em;
  }
}
@media screen and (max-width: 351px)  and (min-width: 342px){
  .toDoList {
    width: 80%;
  }
  button {
    margin-left: 0em;
  }
}
@media screen and (max-width: 341px) and (min-width: 273px) {
  .toDoList {
    width: 80%;
  }
  button {
    margin-top: 0.4rem;
    margin-left: 0em;
  }
  .item {
    font-size: 0.85em;
  }
  .todoHead {
    font-size: 2em;
  }
}
@media screen and (max-width: 272px) {
  .inputArea {
    font-size: 0.65em;
  }
  button {
    margin-left: 0em;
    font-size: 0.65em;
  }
   .todoHead {
    font-size: 1.5rem;
  }
}
